.section {
    font-family: "Roboto", sans-serif;
    height: 130%;
    width: 1510px;
    background-color: #000000;
    margin-left:0px;
    margin-top: 100%;
}

.videos {
    display: flex;
    color: white;
    background-color: #000000;
}

.videoContent {
    margin-left: 12%;
    flex: 1; 
    display: flex;
}

.videoContent h1 {
    font-size: 55px;
    margin-top: 40%;
    margin-bottom: 3%;
}

#para {
    margin-top: 2px;
    font-size: 25px;
}


.tvs {
  
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-right:7%;
}

.tv img {
    position: absolute;
    margin-right:90%;
}

.tv video {
    position: relative;
     margin-left:30%;
     margin-top: 15%;
     padding: 15px;
}

.videos {
    display: flex;
    color: white;
    background-color: #000000;
    justify-content: flex-end; 
    padding-right: 5%; 
}
